[2012-05-30 05:22] Dasonk opened #1 "Vignettes"
Sometimes vignettes don't just take the name of the package.  For instance for `xtable` the vignette is actually called "xtableGallery"

[code]

If the user supplies a package name to p_vignette should we give them a list of available vignettes for the package?

[2012-05-30 21:27] #1 closed, assigned to nobody

[2012-05-30 22:06] Dasonk opened #2 "Merge testing with master"
I added a branch called 'testing'.  This is where I might make some radical changes that may or may not break things.  At the moment all I did was delete the (essentially) duplicate code files for functions and their alias and only keep one of them (typically the function with the longer name) but add something at the bottom so that the alias still holds.

For example instead of having both p_vers

[2012-05-30 22:37] trinker opened #3 "p_vignette: Error for package with no vignette"
I'd like to give a clearer error message for a package with no vignette.  Currently the error looks like this:

[code]

Is there a way to see all available CRAN vignettes (not local packages with vignettes but CRAN ones) similar to `available.packages`?  Then we could do something like:

[code]

[2012-05-30 22:51] #2 closed, assigned to Dasonk

[2012-05-31 03:06] Dasonk opened #4 "Documentation"
Documentation would be easier maintained if Roxygen was used.  This is mainly a note so that I can close this issue once I get around to it.

[2012-05-31 03:11] Dasonk opened #5 "p_install"
Currently I don't see a p_install.  Is all installation supposed to be done using p_load?

My thoughts were that at the very least we could make a p_install.  We wouldn't have to export it if we want the user to use p_load even for install but it could simplify the p_load function.  I think having a p_install would be beneficial because we could wrap in the getXML convenience thing directly into p

[2012-05-31 14:18] trinker opened #6 "Undoing a Commit"
# Undo a Commit

I accidentally committed something without pulling from github first.  Now I can't push or pull from github locally.  How can I fix this?

[2012-06-01 15:45] trinker opened #7 "Get packages not made for latest R release"
Sometimes when I want to get a package and the package has not been updated for the latest release of R it gives an error that says essentially this package isn't for R version x.  I can still go download this package from CRAN (as a zip in my case) and install it and it works fine.

I'd like this package (specifically the `p_get`/`p_install` and `p_load`) to somehow still get those packages and i

[2012-06-01 15:57] trinker opened #8 "Getting buzz around pacman"
I have been wondering if it would be better to (at some point) stop working on pacman in isolation and get some input from others.

Thoughts for promoting pacman and getting people here to try it out and test it:

You and I both have blogs (these blogs are linked to stats blogs and mine is linked to R bloggers).  By simple putting out a small mess around tutorial as a blog we'll begin to reach peo

[2012-06-01 19:09] #6 closed, assigned to nobody

[2012-06-03 04:40] #4 closed, assigned to Dasonk

[2012-06-03 04:42] Dasonk opened #9 ""Usage" with roxygen"
Currently for the functions where we have aliases the usage section only displays the main function.  For example in ?p_citation we see:
### Usage

`p_citation(package = "r")`

But there isn't `p_cite(package = "r")`

I think it's possible to just add
@usage p_citation(package = "r')
@usage p_cite(package = "r")

but I'm wondering if there's a nicer way to automate this...

[2012-06-03 04:54] Dasonk opened #10 "Vignette for pacman"
Would a vignette be something we would want to make at some point?  I'm thinking it would be a good idea but I'm too lazy to make one right now.

I'm assigning this to Milestone 2.0

I figure once we feel we can release the package to the general public either via advertising or a release on CRAN we'll turn the version number to 1.0.  Once we've cleaned it up more and added a vignette we'll turn t

[2012-06-03 04:59] #5 closed, assigned to nobody

[2012-06-03 05:00] #3 closed, assigned to Dasonk

[2012-06-03 06:21] Dasonk opened #11 "p_base"
I'm confused on what p_base is supposed to do.  Can you provide some explanation?

[2012-06-03 06:22] Dasonk opened #12 "p_functions"
I think it would be interesting if we offered an option to list ALL of the functions in a package (even the ones that aren't exported).  I haven't put much thought into this yet but what do you think?

[2012-06-03 06:32] Dasonk opened #13 "p_load"
What is the purpose of offering the choice of using require or library?  I'm just wondering if there is a special reason you are offering both.

[2012-06-03 06:49] Dasonk opened #14 "p_update"
Why aren't we using update.packages in p_update?

[2012-06-03 19:45] Dasonk opened #15 "Description"
Should we convert the url for the package in the description to our github page or would you prefer to keep it as your blog?

[2012-06-03 20:16] #15 closed, assigned to trinker

[2012-06-03 23:53] #9 closed, assigned to Dasonk

[2012-06-06 04:24] Dasonk opened #16 "p_install"
Right now p_install only installs from CRAN.  I'm thinking we could check CRAN, bioconductor, and at least Brian Ripley's repository.  This might eliminate the need for p_getXML.

[2012-06-06 12:34] trinker opened #17 "p_exists gives locations of where a package exists"
Per  Dason's post yesterday's regarding the `p_load`  searching CRAN, bioconductor and Ripley's repositories I think it would be nice to have `p_exists` reflect this as well.  Currently `p_exists` looks at CRAN or locally.  I think it may be nice to be able to search locally as well as the 3 places names above for a package.

Not sure how the arguments would look.  Right now I'm thinking it could

[2012-06-07 16:46] trinker opened #18 "p_loaded can take package name"
Currently `p_loaded` takes no package arguments and returns the packages loaded or optionally the base packages loaded as well.

I propose that this function can take a package name and return a logical TRUE/FALSE of whether the package is loaded.  If the
package argument is empty then the function returns a list of all functions loaded as it does currently.

If Dason agrees this is a good idea I'

[2012-08-21 16:56] trinker opened #20 "Create a p_reload function"
add a p_reload function that unloads a function and reloads it.  Helpful if you are working on a package, make a change and install the package again.  `devtools` has a similar function already.

Built out of `p_unload` and `p_load` and takes multiple arguments.

This is a discussion starter to see if there's a need.

[2012-08-22 03:44] #20 closed, assigned to nobody

[2012-08-22 19:39] #18 closed, assigned to trinker

[2012-08-25 04:12] Dasonk opened #21 "p_opendir"
We use opening a directory in p_library which makes sense to me.  However, opening a directory isn't really related to package management.  Should we export p_opendir?  It's a nice little function but we could also just keep it internal.

Also there isn't much harm in exporting it I feel like a package like this should be focused and only include things that deal with the particular task at hand.

[2012-08-25 20:35] #21 closed, assigned to nobody

[2012-08-29 17:48] trinker opened #22 "Friend can't install pacman"
Not sure if this is a pacman problem or my friends setup.  He tried to install`pacman` and got an error:

[code]

Any ideas why? How to help him?  Need more infor?

He's running windows XP R 2.15.1

[2012-08-29 21:06] #22 closed, assigned to nobody

[2012-08-30 14:43] trinker opened #23 "p_getRipley not acting as anticpated"
I attempted to use `p_getRipley` in an [`.on.load`](https://github.com/trinker/qdap/blob/master/R/.zzz.R) function for `qdap`, as I figured this is how a developer might utilize `p_get` eventually.  The attempt produces a warning and doesn't appear to put the packages in my library or load them.

Outside of the `.on.load` `p_getRipley` works.

The `.on.load` attempt:

[code]

The Error Message

[c

[2012-09-29 22:18] #13 closed, assigned to trinker

[2012-09-29 22:25] Dasonk opened #24 "negate parameter in p_unload"
I haven't delved too far into p_unload yet but is the point really to delete all of the other packages except the ones indicated?  Wouldn't that be better for p_delete?

And I think p_delete might make better user of remove.packages as opposed to the home brewed solution currently.

[2012-10-05 02:52] trinker opened #26 "p_data display stinks"
I hate the way `p_data` is currently displayed.  I'd like to alter it so it doesn't print a static window but to the console so it can be saved as an object.Something like this seems more appropriate:

[code]

[2012-10-08 03:47] #26 closed, assigned to trinker

[2013-02-03 18:16] trinker opened #27 "XML is now on CRAN"
Previously we had planned for windows users who could not get XML as a binaries from CRAN.  This is no longer the case, however, RCurl still requires a download from outside of CRAN

[2013-02-15 15:46] trinker opened #28 "p_temp"
This [SO question](http://stackoverflow.com/questions/14896941/install-an-r-package-temporarily-only-for-the-current-session) brings up an interesting idea of temporary installs that we may want to investigate.

[2013-03-03 05:06] #27 closed, assigned to nobody

[2013-03-03 05:08] #24 closed, assigned to nobody

[2013-03-03 05:08] #23 closed, assigned to nobody

[2013-03-03 05:29] #7 closed, assigned to trinker

[2013-03-03 07:24] trinker opened #29 "add `character.only = FALSE`"
The philosophy to allow no quotes on most of the functions in `pacman` is getting us into trouble when we want to use inside of other functions as seen here:

[code]

`library` uses  `character.only = FALSE` as an argument.  We have to decide to:
1. drop the ability to supply unquoted package names
2. add  `character.only = FALSE`
3. Dason comes up with a supper cool alternative

[2013-03-03 18:14] trinker opened #30 "add clipboard capability to `p_citation`"
I use `p_citation` a bit and would like to add the capability to:
1. the ability to copy to the system's clipboard (not available for linux)

If there's no objection I'll do this as it's fairly straight forward.

[2013-03-11 05:10] #30 closed, assigned to nobody

[2013-03-24 03:29] #28 closed, assigned to nobody

[2013-03-24 03:35] #14 closed, assigned to nobody

[2013-03-24 04:06] Dasonk opened #31 "Add github.user argument to p_install family?"
I was thinking about p_temp and how it might be nice to be able to temporarily install packages from github.  We would need to include some sort of github.user parameter to allow this (and not to mention we would need to require devtools).

Would this be worthwhile to attempt?

[2013-05-06 17:43] Dasonk opened #32 "p_zip"
I just noticed p_zip.  I'm not sure if I like having that a separate function.  Having a non-exported function called p_zip which takes care of installing zip/tar.gz files would be fine with me but I think to stay in the spirit of the package we would just want p_install and/or p_load to take care of installing from a .zip automatically.

[2013-05-23 18:15] trinker opened #33 "`p_vignette` should use `browseVignettes`"
That's it.  If you agree I'll rewrite it to do this.

[2013-09-02 19:02] Dasonk opened #34 "p_load gives failed message but installs and can load fine"
Example:

[code]

[2013-09-02 19:08] #34 closed, assigned to Dasonk

[2013-11-26 01:07] trinker opened #35 "p_load throws warning more than one repo"
After extensive work by Dason on pacman earlier today it inspired me to move forward and report this problem.  If you download a package you get

[code]

I think it can be traced abck to

[code]

[2014-01-04 16:20] trinker opened #36 "Upload to CRAN (release date)"
We will release pacman to CRAN on 2-1-2014.  Before then we will:

1. Tackle as many [issues](https://github.com/trinker/pacman/issues?state=open) as possible **TR/DK**
2. ~~Remove the release data info from README.md~~ **TR**
3. ~~Spell check manual~~ **TR**
4. ~~Test all examples~~ **TR**
5. Run CRAN checks on all 3 OS with R 3.0.2 and R dev
6. ~~Add `\code{}` around `TRUE`, `FALSE` and `NULL` i

[2014-02-05 23:15] #35 closed, assigned to nobody

[2014-02-06 02:09] #33 closed, assigned to trinker

[2014-02-06 02:10] #17 closed, assigned to nobody

[2014-02-06 02:13] #12 closed, assigned to Dasonk

[2014-02-06 05:17] trinker opened #37 "p_interactive() not loading helpfile"
When using p_interactive() the helpfile doesn't appear to be loading if requested (last step of the interactive session)

[2014-02-06 05:43] #37 closed, assigned to trinker

[2014-02-08 00:30] #32 closed, assigned to nobody

[2014-02-08 01:56] trinker opened #38 "Why export p_detectOS"
Is there a reason to export `p_detectOS`.  While it is useful internally I don't see this as being package specific or necessary for most package tasks a user may undertake.

Thoughts?

[2014-02-09 03:50] trinker opened #39 "Non CRAN repos"
In the provious code for `p_load` we had this phrase:

[code]

This indicates that we could install from non-CRAN repos.  I don't know if this is true.  If it is I don't know how it worked.  I doubt it works any longer but may be wrong as when I recoded `p_load` and `p_install` I didn't have this in mind.  I suspect `p_set_cranrepo` may do this.  It's be cool if it does it automatically as I did i

[2014-02-09 03:51] #16 closed, assigned to Dasonk

[2014-02-09 04:20] trinker opened #40 "Add verbose argument"
`p_install` and `p_load` are verbose.  Add a `verbose` argument that suppesses these messages.

[code]

Defaulting to `TRUE` and allowing the user to set this to `FALSE` in their .Rprofile

[2014-02-09 04:25] trinker opened #41 "Don't auto detect in `p_install` and p_load`"
Currently `p_load` and `p_install` tries to auto detect the source.  This slows things way down.

We can add a `source` argument or something like this (maybe `type`) which won't interfere with `install.packages` and `install_github` arguments (or maybe it's late and I'm talking in nonsensical circles).

[2014-02-09 06:17] trinker opened #42 "p_load not installing from CRAN consistently"
I wanted to see how slow p_load was at installing and loading packages if it was for the targeted packages (CRAN) so I picked 10 random packages (well they were at the beginning of the alphabet) and install 10 I didn't have.  Here are the results:

[code]

Is it moving too fast and needs a system sleep.  What's going on?  More documenting this behavior.  If/when Dason looks under the hood this may

[2014-02-11 22:01] #42 closed, assigned to nobody

[2014-02-17 15:59] trinker opened #43 "p_load has no way of controlling dependencies argument in install.packages"
I think it would be helpful to have `p_load` be able to specify `dependencies` from the `install.packages` function.  I'd say the defualt should be `TRUE` where as I think it's `NA` in the `install.packages` function but this is certainly open for discussion.

Right now the question is should `p_load` allow for installing dependencies?  We don't want to bloat but this seems like something people w

[2014-06-19 19:40] trinker opened #44 "Unit Tests Fail in Travis-CI check"
I'm not sure of the reason but `pacman` fails CRAN checks (errors) https://travis-ci.org/trinker/pacman

Here's the error mesage:

[code]

I suspect it is because we use `"pacman"` in the tests.

[2014-06-20 20:04] #29 closed, assigned to nobody

[2014-06-21 03:01] #44 closed, assigned to nobody

[2014-06-21 03:14] #41 closed, assigned to nobody

[2014-06-21 13:59] trinker opened #45 "Added is.global"
I added an `is.global` function designed mostly to be used as arguments in pacman functions for whether or not to print `quiet`.

See: https://github.com/trinker/pacman/commit/ac8d2e552c4a5da63c1a9024c6b7ad11b52675a9

Here's an example outlining intended usage:

[code]

**Outcome**

[code]

**Discussion point**

This breaks the `p_xxx` framework but makes sense to me in the historical naming conve

[2014-06-21 15:58] trinker opened #46 "Create Static Docs Page"
Using the categorization format from: https://github.com/trinker/pacman/issues/10#issuecomment-46757223

[2014-06-21 16:29] #46 closed, assigned to trinker

[2014-06-24 19:40] #45 closed, assigned to nobody

[2014-07-02 02:51] trinker opened #47 "p_load with tar.gz"
using p_load with a tar.gz results in a warning.  So for instance using `p_load(pacman_0.2.0.tar.gz)` results inf:

[code]

This results in another warning:

[code]

This is caused by `pacman:::p_load_single`'s:

[code]

This is sensible because here package would be called `pacman_0.2.0.tar.gz`.  Not sure how we want to handle this.  We'd need to detect the tar.gz or zip extension again here and

[2014-07-02 03:13] trinker opened #48 "Table alignment in intro vignette"
Not sure why but after the first table in the intro vignette the tables are no longer centered.

http://htmlpreview.github.io/?https://github.com/trinker/pacman/blob/master/vignettes/Introduction_to_pacman.html

I wonder if this is from &lt;div&gt; usage.  Not sure why?

[2014-07-06 20:29] trinker opened #49 "Use `unloadNamespace`"
Maybe we want to consider `unloadNamespace` for `p_install` and `p_update` (or others).  Seems cleaner:

http://stackoverflow.com/a/24599026/1000343

[2014-07-07 19:29] trinker opened #50 "Improve `p_citation`"
Currently `p_citation` uses `capture.output` to grab just the bibtex or text of a citation (see bottom).  There are `utils` package tools to do this as in:

[code]

Incorporate this into `p_citation`.

[code]

[2014-07-08 03:21] #50 closed, assigned to trinker

[2014-09-21 03:22] trinker opened #51 "`p_data`: Packages with a single data set throw an error"
[code]

[2014-09-24 14:38] trinker opened #52 "`p_functions`: all of default not found in output with `all = TRUE`"
I was creating a unit test for `p_functions` and came across this problem.  Not sure if it is even a problem that needs to be addressed.  But I would expect the output when `all = TRUE` would contain all the functions of when `all = FALSE`.  This is not true of testthat.  This seems to be C level calls:

[code]

[2014-09-24 15:38] trinker opened #53 "Possible demo vignette"
I thought a possible demonstration vignette could be nice.   I'm putting this thread here to document some creative uses of pacman and if we get enough of these we could make a vignette.

I haven't thought of a vignette name if @Dasonk  feels this is a good idea.

[2014-09-24 15:49] #51 closed, assigned to nobody

[2014-09-24 16:06] trinker opened #54 "Notes using R dev in build"
I get the following notes in build under R dev:

[code]

Probably easy enough to use `::`, `@importFrom`, assign to `NULL`, or some other work around.

[2014-09-24 19:56] #54 closed, assigned to nobody

[2014-10-19 18:56] trinker opened #55 "Success message even when unsuccessful"
Currently in `p_install` and likely others, a success message is given even f the attempt was unsuccessful:

[code]

[2014-10-21 14:40] trinker opened #56 "p_depends discussion"
I have added a new function(s) `p_depends` and `p_depends_reverse` to get local/CRAN dependencies/reverse dependencies.

I realized there are 4-ish different oddly named base functions to do this.  Bringing them under one roof may be good.

I'm open to discussion of:
- [ ] Keep it
- [ ] Naming it
- [ ] Other...

If we keep the following to do needs to happen (Tyler can do):

**To do**
- [ ] Furthe

[2014-11-28 15:06] #55 closed, assigned to trinker

[2014-11-29 17:06] #56 closed, assigned to nobody

[2014-11-29 17:10] #38 closed, assigned to nobody

[2014-11-29 18:55] #48 closed, assigned to Dasonk

[2014-12-03 02:38] trinker opened #58 "GitHub functions add p_install_gh and p_load_gh"
I think that adding functionality of GitHub installing and loading is important with so much being housed there and with **pacman** likely to be used in Stackoverlfow and Blog demos.  I would like to add 2 functions:

1. `p_install_gh`
2. `p_load_gh`

These would miror the functionality of `p_load` nd `p_isntall` but for GitHub packages.  I think we'd need to supply character vectors (as opposed t

[2014-12-26 01:17] trinker opened #59 "p_install_version"
I am thinking a p_install_version` which installs a package from CRAN if current library version does not meet specs.  Here's a simple mock up:

[code]

This could be useful for blogs or any time you need to ensure a certain minimal version.  Comments would be put in the code if this is an idea worth pursuing.

[2015-02-05 15:49] Dasonk commented on #36
Exactly a year later I'm going to make the same suggestion.  Valentines Day.  This time we release it regardless of how much we fix it up before then.  How about it?

[2015-02-05 15:52] trinker commented on #36
:+1: thumbsup: and if we don't it's a :facepunch: for us both.

[2015-02-05 16:56] trinker commented on #59
Add usage to vignettes

[2015-02-05 21:19] #59 closed

[2015-02-06 08:57] MarcoDVisser opened #60 "Questions on finalization and utilization"
1) When will this package be done, finally? ;)

2) Can I use it to remove ggplot from any so inflicted system?

Love,

TE

[2015-02-06 14:18] Dasonk commented on #60
The plan is to release on Valentines Day regardless of bug status.  It's usable at the moment. I want to get some stuff cleaned up before release.

You could use it to remove ggplot from an "infected" system! But ggplot is so old.  Is it because you don't have much space on your system and you want to make room for ggplot2?

[2015-02-06 14:40] trinker commented on #60
Good point Dason.  Perhaps we need this line in `p_delete`

[code]

[2015-02-06 15:35] MarcoDVisser commented on #60
I really appreciate you guys releasing it on Valentines day just for me. Usually I only receive flowers from trinker. I feel the love.

[2015-02-06 15:58] Dasonk commented on #60
Maybe we should create a branch just for Marco.  I'm thinking we could modify the functions to have the functionality implied by the following pseudocode:

[code]

[2015-02-06 16:06] MarcoDVisser commented on #60
That does go far enough. I mean if you really want to make me hurt then add this:

[code]

[2015-02-06 16:20] Dasonk commented on #60
I like it! Maybe we could go even further...

p_load_best <- function(packages){
    load_the_packages(packages)
    if(ggplot2 not in packages){
        print("would you like to load ggplot2?")
        response <- get_response()
        if(response == "y"){
            p_load(ggplot2)
        }else{
            print("you probably mistyped that")
            p_load(ggplot2)
            print("you

[2015-02-06 16:23] trinker commented on #60
You two take wasting time to a new level.  My snarky retort took all of 20 seconds.  You two on the other hand actually put time and effort into stupidity.  :hear_no_evil:

[2015-02-06 16:25] MarcoDVisser commented on #60
True stupidity needs effort and hardwork, Tyler.

[2015-02-07 18:41] trinker commented on #58
Added with this commit: https://github.com/trinker/pacman/commit/e986eb2da30f14755ba2aa1603f5e76d5d5711b

[2015-02-07 18:41] #58 closed

[2015-02-16 13:17] hadley opened #61 "Don't use non-standard evaluation"
I think this is a huge design error with `library()` and `require()`. It adds a lot of extra complication to the code, makes it hard to program with, and only saves two key presses.

[2015-02-16 14:14] Dasonk commented on #60
I believe this can be closed.  Also - raptors are terrible.

[2015-02-16 14:14] #60 closed

[2015-02-16 14:23] Dasonk commented on #61
I agree with you in theory.  But at the same time that ship has sailed already.  A lot of people are used to being to do something like `library(pacman)` instead of `library("pacman")` so to make it nicer for them allowing `p_load(ggplot2)` seems like a natural thing to do for a package that is meant to make package management less of a hassle.

I guess we could be idealists and force people to us

[2015-02-16 14:27] Dasonk commented on #8
We could make a post at TS as well.  I don't have a problem with this type of advertising at TS as long as it's from members that have been around for more than two days.  I guess I could ask quark for permission to make sure there isn't an issue with it being 'spammy'.  We could also go back and bump questions/answers that mention pacman by editing in that we can install from CRAN now.

[2015-02-16 15:04] trinker commented on #61
@Dasonk We were hoping for feedback from folks.  I thought we had tried to address the use of non-standard evaluation that can leave you in a pickle by providing escape hatches with `character.only` and `char` arguments to most of the more important functions.

With design for programming I can see @hadley's point.  In considering the design we tried to keep with expectations people may have had w

[2015-02-16 15:16] trinker commented on #8
As long as quark is cool with it but I don't want to do something he'd not like.

[2015-02-16 15:44] dpastoor commented on #61
One other thing to consider @trinker is the saving two character arguments for interactive use is a little moot in the most recent version of Rstudio, at least with the library function. I don't know what wizardry the ide is using but if you type `library(dp` it will pick up that you have dplyr available, and then when you tab autocomplete it will also automatically add in quotes for library("dply

[2015-02-17 17:51] trinker commented on #8
I updated the stack questions I saw.

[2015-02-18 20:02] khughitt commented on #61
:+1: It's never too late to learn good behavior.

If this package had been around for a long time, and there were many dependencies on this behavior, that might be one thing, but since you are relatively new, this seems like a good opportunity to adopt good practices.

[2015-02-21 22:32] trinker opened #63 "Suggested check for pacman install"
Someone who uses **pacman**'s `p_load` in a script is doing so for longer terms sustainability (i.e., they can just run the script).  This of course requires someone has **pacman** installed.  I have two possible means we could suggest doing this for people (the line before using `p_load` in a long term script).  I think we'll want to be consistent in our uses online (TalkStats, StackOverflow, blo

[2015-02-23 11:30] Michael-E-Rose commented on #63
I use **pacman** exactly for this reason. I found the package through [an SE answer of your's](http://stackoverflow.com/questions/4090169/elegant-way-to-check-for-missing-packages-and-install-them/19873732#19873732) where you also use the first option. So there is already our *fait accompli*.

I also prefer the first one but only because I know that `require("pacman")` returns a boolean variable.

[2015-02-23 20:35] trinker commented on #63
@Michael-E-Rose Thanks for the feedback :+1:

[2015-02-25 16:22] Dasonk commented on #63
The whole point is to bootstrap the process of getting pacman on the system and loaded so I'm not sure why we would want to only load the namespace if we're just going to load the package anyways.

    if (!require("pacman")) install.packages("pacman"); library("pacman")

We probably need to add that additional call to load pacman after we install it.  We probably could/should make something like

[2015-02-25 17:57] trinker commented on #63
@Dason Good call.  I agree.

[2015-03-11 21:02] trinker commented on #63
Here's a proposed `p_boot`:

[code]

[2015-03-11 21:21] trinker commented on #63
I wonder if `p_header`, `p_script`, `p_ensure_pacman` or something is a better name.

[2015-03-13 13:16] Michael-E-Rose commented on #63
How is that going to work? You want users to source on a script just to ensure that pacman is installed/loaded? What's the advantage over `if (!require("pacman")) install.packages("pacman"); library("pacman")`?

[2015-03-13 13:32] trinker commented on #63
@Michael-E-Rose It is `if (!require("pacman")) install.packages("pacman"); library("pacman")` but that way the user can just use `p_boot` and that snippet appears and is attempted to be copied to the clipboard (may not work for some Linux users).  They manually paste it at the top.

But if you didn't get that that tells me the description needs some work.

[2015-03-13 13:50] Michael-E-Rose commented on #63
But as a user I would have to copy the script above first, wouldn't I? Or how do I get the code?

[2015-03-13 13:58] trinker commented on #63
@Michael-E-Rose This will become a function in the **pacman** package.  For now you have to copy it which is annoying, but once it's added and merged you can use it from the dev version simply by typing `boot`.  I've tweaked the description to make the function's purposes clearer.

[code]

[2015-05-07 23:27] trinker opened #64 "Testing/Fix of Bioconductor functionality"
I merged #62 but still get:

[code]

[2015-05-23 16:15] #64 closed

[2015-05-23 16:34] trinker opened #65 "Travis-CI Build Errors unsure why"
I get no such buid errors locally: https://travis-ci.org/trinker/pacman

[code]

[2015-06-03 15:52] Dasonk commented on #65
My guess is that we are expecting warnings in our tests but instead of using expect_warning we just try to suppress them but aren't doing it properly. and travis is using the warning -> error setting.

I can't modify anything on the repo at the moment but I think the following should fix one of the problems - change test-p_install.R to this:

[code]

and change the last test_that in test-p_install

[2015-06-08 18:49] trinker commented on #65
This line:

[code]
produces an error not a warning.  If I do:

[code]

All works.  That means that the R CMD uses of **testthat** is somehow different than running `devtools::test()`.  I'm not sure what's going on. Again running `devtools::test()` results in:

[code]

which is expected.  We pass the checks and **devtools** makes me feel good stating:

I suspect this is to mock me.

[2015-06-30 15:44] trinker opened #66 "`data` requires specific environment in R dev version (throws NOTE)"
The following functions throw a note:

[code]

because `data` has an `envir = .GlobalEnv` argument.  We may have to add and `envir` argument to these 2 functions and then use position as `.GlobalEnv` is not allowed.

[2015-07-07 13:14] Nosferican commented on #43
I agree that an option to specify 'dependencies = TRUE' should be incorporated in the p_load arguments.

[2015-08-06 14:45] #36 closed

[2015-08-06 16:10] Dasonk commented on #61
Since we've released to cran already I don't think it would be good to break the current API.  Maybe we'll go the way of ggplot -> ggplot2 and make a pacman2 someday that breaks the current API and doesn't use non-standard evaluation.

But since we've released already I don't think we should change it. @trinker - thoughts? Should we close this?

[2015-08-06 17:28] trinker commented on #61
Let's close for now

[2015-08-06 17:28] #61 closed

[2015-09-25 16:58] cswarth opened #67 "p_install takes a vector, rather than individual package names"
The [pacman vignette](https://cran.r-project.org/web/packages/pacman/vignettes/Introduction_to_pacman.html) says,
[code]
When I try this I get,
[code]
This can be solved by passing a vector to p_install,
[code]

I don't know whether the bug is in the vignette or in the code.

[code]

[2015-09-25 17:16] cswarth commented on #67
Actually I think `p_install` may be only taking a single argument, not a vector.
Passing a vector seems to work but eventually you get this error,
[code]
presumably indicating it parsed 'c()' as a package name.
Only way I have gotten `p_install` to work is to pass a single package name at a time.

[2015-09-28 00:34] trinker opened #68 "p_functions_title: Get function titles"
I used this function at work.  DOn't know if it makes the cut but documenting it here for now.

[code]

[2015-09-28 13:23] Dasonk commented on #68
It might be better if we just merge that into p_funs.  Just like a `title=TRUE` kind of parameter.

[2015-09-28 13:28] Dasonk commented on #67
Yes p_install is only for single packages.  `p_load` is really the workhorse function in the package.  It's meant to load the packages (and install them beforehand if necessary) but I typically use `p_load` to install packages when needed.  `p_load` takes multiple inputs.

This does seem to be an issue with our documentation.  It probably would be better for us to allow `p_install` to take multipl

[2015-11-08 19:21] trinker opened #69 "Check package name availability"
Here's a potential function that checks if a package name is available.  It would need to check bioconductor as well but I am uncertain how to do this programatically.

[code]

[2016-02-22 15:31] steventsimpson opened #70 "consider building function for p_install_load_gh"
As an active user of `p_load_gh` and `p_install_gh`, I find that there are cases in which certain packages that are in very active development need to be reinstalled. When someone on my team has paths to those github repos in their scripts as part of project set up, if they did an install on a newer version of that repo than I have, then when I try to run their code, it may fail because I'm workin

[2016-02-28 03:12] trinker commented on #70
This would require a ping to github which could be doable.  Automatically installing the most recent version may have unintended consequences and/or be unnecessary.  An alternative solution would be to supply the version within the script as with the `p_install_version` function... though a `gh` version would be needed for github as well.  This would only install the package if a particular versio

[2016-03-09 14:09] trinker commented on #70
To Do: Make a `p_load_gh_ver`

[2016-03-10 18:18] trinker commented on #70
We didn't get it as succinct as proposed but should avoid problems on the team with sub versions in that a package's version is confirmed before loading.  This means the package will only be installed if your library has a version below a threshold.  `p_load` will still be needed.

You'd use it something like:

[code]

[2016-04-19 13:23] sfirke opened #71 "p_load_current_gh fails if devtools is not installed"
If I delete devtools and then run `p_load_current_gh("trinker/wakefield")` I get:

Could p_load_current_gh() check to see if devtools is installed, and if not, install it?  I see it loads devtools if not currently loaded, so it's halfway there.

pacman helps the beginners I coach with package loading, since they don't have to install.packages.  But right now I can't have them load GitHub packages

[2016-04-19 13:26] sfirke opened #72 "Documentation doesn't differentiate p_load_current_gh and p_load_gh"
I spent a while trying to figure out which I need, and what the difference is, because the documentation description is identical for both functions:

It looks like `p_load_current_gh` force-installs, which is what I want, so I went with that.  But the "current" in the function name didn't help me figure it out.  Could you make it clearer in the documentation what the difference is?

[2016-04-19 13:56] trinker commented on #72
Thanks for the feedback.  I agree.  I added a line that I believe should make it clearer.  Feel free to reopen if this still isn't clear.

[2016-04-19 13:56] #72 closed

[2016-04-19 14:03] trinker commented on #71
This would be masking an installation that CRAN likes to have done as the dependencies when the package is installed.  I think it would be bad practice to have it install on the fly though convenient for a beginner.

You said:

I don't think it does.  I believe we `::` which will not load the package just call a particilar function from the name space.

My co-author @Dasonk may have other thoughts

[2016-04-19 14:05] trinker commented on #71
@Dasonk  maybe a warning in `p_delete` if **devtools** is deleted that some functionality of **pacman** may not work?

[2016-04-19 16:51] sfirke commented on #71
Ah, it didn't occur to me that if I'd tested it all from scratch (re-deleting pacman, too) - the normal use case for a new pacman user - it would install devtools when pacman installs.  Doing that, I see it works perfectly.  This is a non-issue, then.  Thanks!

[2016-04-19 16:51] #71 closed

[2016-07-13 18:51] emazurek commented on #40
p_load is now quiet. But sometimes I'd like to see package load messages and conflicts. Is this no longer an option? Thanks guys!

[2016-07-13 19:39] trinker commented on #40
It is not currently.

[2016-07-23 13:42] dracodoc opened #73 "Cannot update packages in use"
If the package to be updated is in use, pacman cannot restart the R session and finish the update:

[code]

It can be updated manually

[code]

[2016-07-23 14:01] dracodoc commented on #73
It seemed to be a deeper problem than updating packages in use:

I already updated the packages manually, even updated pacman itself:

[code]

I can load each library manually, then running p_load still report error:

[code]

Is it because `BiocInstaller` not available for R 3.3.1? But I think I had same problem before I updated R to 3.3.1.

[2016-07-23 14:05] dracodoc commented on #73
I updated `BiocInstaller` manually with this, and the problem seemed to gone.
[code]

If `pacman` cannot solve this automatically by itself, can it provide the correct help messages to update `BiocInstaller` manually?

[2016-07-23 16:26] trinker commented on #73
You were trying to install ggplot.  This package does not exist.  Well it does but it's archived.  This is caused by a spelling mistake or not realizing that the original ggplot2 (ggplot) has been archived.

You also mentioned that `p_load` does not restart the session.  Restarting the session is a product of the gui you're using (probably RStudio) and it appears that gui understands the `install.

[2016-07-23 16:26] #73 closed

[2016-08-19 04:03] shabbychef opened #74 "Add a combined form for p_install_version?"
The interface for `p_install_version` does, in my mind, scale to a large number of packages. While this looks fine:
[code]
Things get funny for a large number of packages as the two input can get out of sync and hard to maintain:
[code]
Maybe better would be the somewhat 'standard' form of including the version dependency in the string:
[code]
Without a `>=` (or `>`?), it would be understood that

[2016-08-19 04:15] trinker commented on #74
Sounds reasonable.  This is one approach that sounds promising.  Passing a named list may also be appealing or a list of paired vectors (though this is a lot of typing).

Can you share your dirty version?

[2016-08-19 15:40] Dasonk commented on #74
I like the suggestion. The main point of pacman is to make things easier for the user and if it gets a little difficult to manage when scaling that doesn't help anybody.  A named list or list of pairs would be easy to implement but might make it more tedious for the user.  I like the suggestion for the form.  I'm not sure the best way to handle something like foo>=0.2.0 if versions 0.2.0 and 0.3.0

[2016-08-20 04:28] shabbychef commented on #74
Not my best work, but here's the hack:
[code]

[2016-08-23 19:39] trinker opened #75 "p_load_gh default to install dependencies"
Currently `p_load_gh` and friends doesn't install dependencies.  This is because `devtools::instal_github` has a `dependencies = NA` argument.  Adding this argument with default `TRUE` seems reasonable as this is the behavior of base R's `install.packages`.

[2016-08-25 02:34] Dasonk commented on #75
That seems like a reasonable change to me

[2016-09-02 13:57] trinker opened #76 "Add recommended arg (T/F) to p_base"
R installs several recommended packages by default in addition to base packages.  It's useful to know these recommended packages as well.  Maybe add `recommended = FALSE` arg to `p_base` and use the following approach to see recommended:

[code]

[2016-09-06 16:54] #75 closed

[2016-09-13 16:32] Dasonk commented on #76
Couldn't hurt. Is there a use case you have in mind for this functionality?

[2016-09-13 17:50] Dasonk opened #77 "BiocInstaller runs only if it's not installed"
https://github.com/trinker/pacman/blob/master/R/p_install.R#L57

The comments before that line imply that you want us to check if a package is on bioconductor IF BiocInstaller is installed.  Right now it will try to install from Bioconductor no matter what.  Also was there something that requires using eval(parse(text=...))) as opposed to passing the values straight into biocLite?

[2016-09-14 01:13] trinker commented on #77
I think the comments are from a deranged fool.  I actually don't understand them.  From what I can tell it does this or this was what I intended it to do:

1. checks if BiocInstaller is already installed
2. If NOT then install it
3. Install the bioconductor based packages (assumes `BiocInstaller` installed or was available)

The eval gets around adding it as a dependency in CRAN check and might be

[2016-09-14 13:50] Dasonk commented on #77
Does it give a warning if we add it to suggests? Because it's really the use case for suggests.  But do we really want to go installing BiocInstaller for everybody? Because if somebody misspells a package name and it can be found in CRAN then right now it will install BiocInstaller and then check if it's in bioconductor.  I mean we aim for convenience but that can tie up the machine for a while th

[2016-09-15 13:14] trinker opened #78 "Add argument `upgrade_dependencies = FALSE` to `p_install_gh`"
For `_gh` based functions there is an argument in `devtools::install` ...`upgrade_dependencies = TRUE`.  This is an annoyance and often causes conflicts by attempting to delete/reinstall loaded packages.  This requires (on windows) shutting out of all instances of R, manually deleting the package and then reinstalling it.

I'd like to add an `upgrade_dependencies = FALSE` to all `_gh` functions or

[2016-09-15 17:23] trinker opened #79 "`p_help` misnamed"
Is `p_help` misnamed.  Maybe it should be called `p_doc` or `p_man` or `p_manual` and `p_help` should be an interface to `help.search` as in:

[code]

Though it'd be pretty late in the game to do anything about it.

[2016-09-15 17:25] trinker commented on #79
I'd mock up a `p_help` sometime that fits out model.

[2016-09-19 07:52] Dasonk commented on #78
It might make sense to use the same approach we use in p_load and have it check the pac_update option and if it is null set it to FALSE.

[2016-09-23 01:21] jdossgollin opened #80 "p_set_cranrepo not exported"
If I type

[code]

I get

[code]

should be straightforward to fix -- it comes up if I run its help page

[2016-09-23 01:57] trinker commented on #80
We had not thought it would be useful to export widely.  Thank you for opeing this issue.  My coauthor and I will discuss what you have brought forward.  In the meantime you can use:

[code]

[2016-09-23 02:00] jdossgollin commented on #80
Thanks, forgot about the `:::` trick -- just `::` wasn't working.

[2016-10-12 17:07] Fablepongiste commented on #40
Agree this will be great.
Could we have an option quiet = FALSER / TRUE in p_load and p_unload ?

[2016-10-18 11:27] Fablepongiste commented on #40
It is really a small change in code but would be quite useful ? @trinker Should I do it and push it ? Or is it something you plan to do ?

[2016-10-18 13:09] trinker commented on #40
@Fablepongiste thanks for the willingness to contribute.  If it seems straight forward feel free to do a pull request.  Please use `quiet  = getOption("pac_vervose")` defaulting to `FALSE` as the argument.  This would be in `p_load` and `p_install` and `p_load`.  Can you talk about the need in `p_delete`?

@Dasonk are we missing anything that needs to be thought about or that has been missed for t

[2017-01-18 13:42] Fablepongiste opened #81 "Install specific (not latest) version of a package"
I think there should be a way to install a specific version of package instead of a minimum one, latest version of packages are sometimes unstable or breaks existing code

[2017-02-10 19:08] xhdong-umd opened #82 "cannot using pacman with shinyapps.io deploment"
I like to use pacman because when I shared my script to others, they can run script to install/load in one time, instead of install packages manually.

However this doesn't work with shiny apps deployed to shinyapps.io. I have to change my usage of
[code]

in to a series library calls.

The error log in shinyapps.io is:
[code]

Is it possible to fix this? Thanks!

[2017-02-10 20:19] trinker commented on #82
Not on my end.  I believe this is on Rstudio/shiny people.  I'm guessing the parser looks for library/require calls when bundling :-(

You can open a request there.

[2017-02-10 20:24] xhdong-umd commented on #82
Yes I guess it should be their problem. Just wanted to know if you can guess something from the log error. Looks to me that it tried to install to system lib folder instead of user folder. The shinyapps should have "user folder" but probably in different names/settings.

I will report this issue there. Thanks!

[2017-02-10 20:29] xhdong-umd commented on #82
Upon further reading documents, it seemed that they only check `library` call to install packages. And there is a explicit `install.package` call in my pacman script which cause problem.

I'm not sure if there is a perfect solution to support pacman usage in shiny deployment, and keep the script usable in sharing to others.

[2017-02-11 00:34] trinker commented on #82
I think at the very least a parser that converts between multiple library calls and `p_load` is useful.  This could be wrapped with an `if else`

[2017-02-23 16:48] trinker commented on #82
I have the following initial code for converting `p_load` to a series of library calls.  @Dasonk thoughts on inclusion?

[code]

[code]

[2017-02-23 17:11] xhdong-umd commented on #82
@trinker Thanks for the update! Though I'm not sure about 2 things:

1. what's the purpose of writing library calls into clipboard? I'm not aware of this usage.

2. If shinyapps is going to scan r script in source code level, maybe they will not detect the conversion made by `p_convert`.

This problem really should be solved in shiny side, unless we generate another source file after parsing.

[2017-02-23 17:51] xhdong-umd commented on #82
@trinker After tracking in source code of `rsconnect` I found [the code responsible for parsing libraries is in `packrat`](https://github.com/rstudio/packrat/blob/master/R/dependencies.R#L383).

We should add pacman support there and it will be supported by `packrat`.

[2017-02-23 18:12] trinker commented on #82
@xhdong-umd Yeah this was more of an attempt on pacman's end to convert pacman calls to shiny ap friendly library calls.  This proposal is a manual solution that would replace the pacman calls or use an if else.  The clipr dependency is just to copy to the clipboard for easy pasting.  This solution will not be picked up by the shiny app build just by wrapping p_load, it was intended to be a manual

[2017-02-23 18:17] xhdong-umd commented on #82
@trinker Do you mean user write `p_convert` with list of libraries in script, then execute that line and convert it into a series library calls, paste them into code to replace the `p_convert` line? If this is the case, `p_load` can install packages if not available, can `p_convert` do the same in this usage?

I'm thinking to add a pull request for pacman support in packrat but don't have time now

[2017-02-23 18:26] trinker commented on #82
No, all p_convert does is grab the packages and pump them to the clipboard in a `library` (non-pacman) fashion that needs to be pasted into the script.  I believe one can have both pacman (first) and library calls int he same script so long as they are redundant (you're not relying on pacman calls for the app to be built with the correct dependencies.

That being said..that were're having to go ba

[2017-02-23 18:28] xhdong-umd commented on #82
OK Now I understand the idea. Though user need to keep the two versions in sync when he made some changes. I'm looking at `packrat` code now.

[2017-02-23 20:31] xhdong-umd opened #83 "p_load_gh fails but devtools::install.github works"
I need to install [the github version of a package](https://github.com/ctmm-initiative/ctmm). p_load_gh failed with it but devtools works without a problem.

[code]

In theory p_load_gh just wrap around devtools so this should not happen. I found sometimes pacman called devtools with the dependencies TRUE option. In my experience calling `devtools::install_github("ctmm-initiative/ctmm", dependenci

[2017-02-24 15:20] xhdong-umd commented on #82
@trinker I created a pull request in packrat. The problem should be solved. I have tested with my app and everything works now. There are some known limitation of syntax supported. Only `p_load` is supported because only this usage is useful for me. `p_load_gh` have some problems installing some github repo so I don't use it.

- supported syntax
[code]
- unsupported syntax

arguments that saved in

[2017-02-24 15:39] trinker commented on #82
Thanks for doing that.  Let's leave this open until they accept the pull request

[2017-02-24 18:42] Dasonk commented on #80
I guess I don't see a reason why we *couldn't* export this.

[2017-02-24 18:44] Dasonk commented on #81
This would be a nice feature to have. I'll put it on the todo list.

[2017-02-24 18:48] Dasonk commented on #83
`pacman::p_load_gh("ctmm-initiative/ctmm")` worked on my machine. Can you provide the output of

`sessionInfo()` or `devtools::session_info()` and the output of `Sys.info()`?

[2017-02-24 18:54] xhdong-umd commented on #83
Interesting, I restarted R session and there was no more problem. Thanks @Dasonk !

[2017-02-24 18:54] #83 closed

[2017-02-24 19:02] Dasonk commented on #83
I wouldn't expect there should be a problem after you successfully installed ctmm via `install_github`.  I'd still like to know your specific info though to see if this is something we need to look into.  I'm currently running version 0.4.4 and the latest release on CRAN is 0.4.1 so that might be the issue.  But if you're running 0.4.4 and had that issue I'd love to know the rest of what I request

[2017-02-24 19:04] xhdong-umd commented on #82
I found `p_load_gh` works but decided not to add direct support for it.

Because the github repo string could be quite complicated. Instead user just need to load that package in `p_load` again, which will make sure the packages be picked up by `packrat`, and there is no negative impact of this.

[2017-02-24 19:11] xhdong-umd commented on #83
I found if I remove the package first, then run `p_load_gh`, there is this error. However if I restart the R session before `p_load_gh` there is no problem. It's reasonable to always restart R session in package remove/installation. Though devtools worked without needing of restart R. I think there is more checking in `p_load_gh` which had some problem when R session is not restarted.

OK, before

[2017-02-24 19:17] Dasonk commented on #83
Can you post the sessionInfo after loading pacman? I'm mainly interested in what version of pacman you're running.

The sessionInfo() giving the same error message after trying to do the p_install_gh seems to indicate that some sort of buffer wasn't cleared and the error was generated twice (which makes sense to me - if you knew our codebase you'd understand).

But can you load pacman and then tel

[2017-02-24 19:22] Dasonk commented on #65
I'll be honest - I've never really investigated the travis stuff as much as you have.  Is this still an issue or should we close this?

[2017-02-24 19:23] Dasonk commented on #8
We're on CRAN now so should we close this issue?

[2017-02-24 19:33] Dasonk commented on #80
@jdossgollin Are you planning on using this to specifically set your repository to one that you want to specify?  Right now the function is programmed to check if there is a default set and if not then it sets it to the rstudio's cran repo.  Technically we allow the function to specify this default repository but if a repository is already set then it won't modify it (we don't want to change the r

[2017-02-24 19:37] jdossgollin commented on #80
@Dasonk thanks for getting back on this!
It would be great to be able to use it for that -- have been running code on a cluster that doesn't play nicely with `https`, but `pacman` is a great tool and would love to be able to use it.
I also can't remember if there's a way to set the package directory using `p_load` -- it was a while back that I was playing with this

[2017-02-24 19:44] Dasonk commented on #80
Ok I'll see if I can make that change and get it pushed to the repository. If I don't do it today it should be up by Monday.

As far as the p_load issue I don't think there is a way to specify the package directory (I'm assuming you're talking about the location to install/load from on the local machine).  If you want to open up a new issue for that we could tag it as a feature request and that wo

[2017-02-24 19:45] jdossgollin commented on #80
Awesome!

[2017-02-24 19:45] jdossgollin commented on #80
Sorry about close/re-open clicked the wrong button
Thanks!

[2017-02-24 19:48] jdossgollin opened #84 "Specify directory for `p_load`"
Whether working locally with multiple versions of **R** or on a cluster where the package directory is in a non-standard location, it would be very helpful to be able to specify a directory to which packages should be saved. This would probably have to include not only `p_load` but `p_load_gh`, `p_update`, etc.

I'm not sure whether it makes more sense to have this as a function argument or an opt

[2017-02-24 19:54] Dasonk commented on #84
As the whole point of pacman is to make the user's life easier this is a great suggestion.

The way I see the function being implemented is just making a call to `.libPaths()`

@jdossgollin Do you have any suggestions for a name that would make sense for this function?

[2017-02-24 19:57] jdossgollin commented on #84
Yeah `.libPaths()` should do it (I think? -- that's what I've been doing so far..)

Hate to make such a big decision but something like `p_pkgdir` or `p_setdir` or even `p_set_pkgdir`. There is already a `p_path` which would be worth bearing in mind

[2017-02-24 20:06] Dasonk commented on #84
@trinker This should be an easy enough function but what do you think about the naming for it?

[2017-02-28 14:12] Dasonk opened #85 "Primary language detected as html"
Due to the staticdocs the primary language that github declares this repository to be is... HTML.

We can correct this by treating the generated help pages as 'vendored'. Check the .gitattributes section here:
https://github.com/github/linguist

[2017-02-28 16:46] Dasonk commented on #85
Commit d91e9a6ac72b38d3407feb6c7161a935ae2ae298 fixes the issue

[2017-02-28 16:46] #85 closed

[2017-02-28 18:06] trinker commented on #85
Cool didn't know you could do this

[2017-02-28 18:34] Dasonk commented on #85
I ended up listing the html as "documentation" which doesn't get counted either instead of listing it as "vendored". It's more accurate in my opinion although it doesn't really matter in practice at least in terms of deciding whether the files get included in the language stats.

[2017-03-03 15:14] Dasonk opened #87 "p_load_gh vs. p_load_current_gh"
I basically wasn't dealing with pacman stuff when the github functionality was added.  I'm back now and looking over some of the code. The design choice in making two functions `p_load_gh` and p_load_current_gh` seems odd to me.  Typically we would set a parameter in the `p_load_gh` to indicate if we want the current most version from github instead of having a separate function.

Is there a reaso

[2017-03-06 20:01] Dasonk commented on #80
Sorry for taking so long. I've been thinking about the best way to actually implement this. I don't think our original approach was ideal.  It seems like some of the functionality we have right now could be replaced by calls to some base functions.  Either way I'll try to get this implemented soon but my original estimate was a little off (obviously).

[2017-03-06 20:04] jdossgollin commented on #80
Thanks for the update! No rush on my end :)

[2017-03-17 17:28] Dasonk opened #88 "Port travis over to native"
travis now has native support for R.

https://github.com/craigcitro/r-travis/wiki/Porting-to-native-R-support-in-Travis

That should make it cleaner and easier to maintain.

[2017-03-17 18:11] Dasonk commented on #88
This actually is pretty nice because we can have it automatically run on old versions, current version, dev version AND have it do all of that for linux AND osx.  Let me know what you think but my travis file in docstring takes care of all of that.

https://github.com/Dasonk/docstring/blob/master/.travis.yml

[2017-03-17 20:21] trinker commented on #88
Go right ahead.  I switched over to other packages 6 months ago.  But haven't tried all the fancy things you're describing.

[2017-03-17 21:19] Dasonk commented on #88
What do you mean by "I switched over to other packages 6 months ago"?

[2017-03-17 21:20] trinker commented on #88
Sorry not clear.  Started using native R in travis in my other packages: e.g., https://github.com/trinker/textclean/blob/master/.travis.yml

[2017-03-17 21:26] Dasonk commented on #88
Gotcha.  And the fancy things are pretty simple to implement (just those changes to the .yml) but it adds multiple build systems.  Which means multiple places the build can fail but it's good to know if it's going to fail somewhere.

[2017-04-05 17:12] Dasonk opened #89 "Checkpoint integration?"
https://github.com/RevolutionAnalytics/checkpoint

We already have a way to install certain versions.  Specifying a date and installing those versions using checkpoint (which we could add to suggests?) might be useful for some people.

[2017-04-05 18:47] trinker commented on #89
agreed

[2017-04-09 14:49] #88 closed

[2017-04-09 14:49] trinker commented on #88
May need to be tweaked a bit

[2017-04-09 21:26] Dasonk commented on #88
Just like your face.

Although it looks good to me. Unlike your face.

If I was any more professional on this site I might explode.

[2017-04-10 02:20] trinker commented on #88
Well said

[2017-04-26 13:37] arbelt opened #90 "error in readRDS on R 3.4.0"
Not entirely sure what the issue is, but I recently upgraded R to 3.4.0 and ever since pacman seems to be causing issues.  If I `p_load` or `p_install` a package not already installed, I end up with an error message about readRDS:

[code]

`install.packages` at this point will return the same error.  However, if I restart R and do _not_ load pacman then `install.packages` works just fine...

[2017-04-26 13:39] Dasonk commented on #90
Yikes. Seems like a serious issue.  Just to make sure I have the details correct... are you attempting to install a package you don't currently have and are trying to install from CRAN?

[2017-04-26 16:35] Dasonk commented on #90
I can't reproduce the issue on Windows 10. Can you give the output from sessionInfo() and what package you were trying to install?

[2017-04-26 16:45] Dasonk commented on #90
@trinker I was able to reproduce the issue sporadically.  I think the easter egg needs to go.

[2017-04-26 16:59] arbelt commented on #90
Here's `sessionInfo()`.  My `.Rprofile` is pretty minimal, just a `require(utils)` and a snippet for `pacman`.  It's been sporadic, but it seems to "trigger" most often when I `p_load` something that's not installed, and once it appears later calls to `install.package` show the same error.

[code]

[2017-04-26 17:03] Dasonk commented on #90
I think commit c8893181efac851058377efa8fc28a0b189809d7 should fix the issue.  Can you install the latest version and report back on if the issue seems to be fixed?

[2017-04-26 17:45] Dasonk commented on #77
Bump

[2017-04-26 19:46] arbelt commented on #90
No go... just tried with `p_load(plotly)`:

[code]

[2017-04-26 20:27] arbelt commented on #90
So I tracked down the issue: `install.packages` emits a warning when `PACKAGES.rds` is not found on the CRAN repo:

[code]

`install.packages` installs just fine after that, but `p_install` is catching the warning and passing off to BioC.  I'm still a bit concerned that a failed `p_install` seems to cause future `install.packages` to fail though.

Made a simple PR #91 that fixes this particular is

[2017-04-27 01:22] arbelt commented on #90
Okay, I think this is figured out... updated the #91 and added a longer note there.  Short version: catching the warning prevented cleanup in `available.packages` from happening, leaving an invalid "cache".  This probably should be handled in `available.packages`, but isn't.  So I modified the code a bit not to unwind the stack and let `install.packages` finish before trying BioC.

[2017-04-30 02:30] #90 closed

[2017-04-30 02:35] trinker commented on #84
`p_set_library`?? maybe

[2017-04-30 02:36] jdossgollin commented on #84
I like it

[2017-04-30 18:29] Dasonk commented on #84
`p_set_libpath` seems like it would be more truthful on what it does.

[2017-04-30 18:31] trinker commented on #84
Works for me.

On Apr 30, 2017 2:29 PM, "Dason Kurkiewicz" <notifications@github.com>
wrote:

[2017-05-01 01:09] trinker commented on #77
THis PR is related: https://github.com/trinker/pacman/pull/91

The current implementation install **BiocInstaller** everytime `p_install` doesn't find a package on CRAN.  This is in response to an off thread point @Dasonk had about the potential for change in this package and needing a fresh install to be certain it is doing what it is supposed to be doing.  However, this exasperates the point you

[2017-05-01 01:16] trinker opened #92 "Drop devtools in favor of ghit"
devtools is a lotta dependency.  ghit maybe all we need and lighterweight: https://cran.r-project.org/web/packages/ghit/ghit.pdf

Thoughts on using theis for `p_xxx_gh` functions over devtools?

[2017-05-01 01:17] trinker commented on #79
Too late to rename?  I doubt this is one of the heavier used functions.

[2017-05-01 19:20] pat-s commented on #92
I recently tried `ghit` quite often for the same purpose and ended up with various installation errors in cases where `devtools` had no problems. I did not really inspect the problems in detail but maybe you should do some testing including packages from all kind of R fields (web, spatial, stats, Rcpp, shiny stuff, etc).

[2017-05-02 12:14] Dasonk commented on #92
If we just wanted to make it lighter I think `remotes` would be an easier replacement since it's basically just the devtools github code without all the extras.

[2017-05-02 12:16] Dasonk commented on #79
Probably too late.  We already put out a release and don't want to have any breaking changes.

[2017-05-02 12:18] Dasonk commented on #77
Maybe we have it off by default and print a message telling them that bioconductor isn't being checked and give them the option to set if they want bioconductor to be checked?

I know we said 'on by default' for sake of convenience but I guess we should weight that against how much extra overhead we might be creating that the user doesn't necessarily know is going on.

[2017-07-17 02:11] trinker commented on #92
@Dasonk I do think makingit lighter would be good.  I see: https://cran.r-project.org/web/packages/gh/index.html now available too

[2017-07-17 13:31] Dasonk commented on #92
gh looks like a more general/better version of https://github.com/Dasonk/githubSearch but I don't see installation.  I'd lean more toward using remotes since I don't really think we'd need to change anything.

[2017-07-18 15:27] Dasonk commented on #92
Locations of devtools code:

- inst/build.R - I don't see an issue keeping devtools here (plus the alternatives don't provide the functionality needed).  But since it's a build script we don't need devtools in the DESCRIPTION to use it.
- inst/maintenance.R - Same issues as /inst/build.R
- R/p_load_current_gh.R - devtools mentioned in documentation
- R/p_load_gh.R - devtools mentioned in documenta

[2017-07-18 18:26] trinker commented on #92
@Dasonk  **remotes** that you suggested has a `github_pull` that I assume is equivalent but not checked still leaves the `devtools::github_release`...It seems to be just a function to make:

[code]

not sure why a function is needed for this.  This is just surface level investigation

[2017-07-18 18:29] Dasonk commented on #92
Sounds good. I'll play around with switching over to remotes and try to put a branch together to try it out. I'll take ownership of this issue unless you're already making code changes.

[2017-07-18 19:46] trinker commented on #92
No please go ahead

[2017-07-19 00:37] Dasonk opened #94 "p_author doesn't read Authors@R"
Right now `p_author` doesn't return any results if the Author field in DESCRIPTION is left blank because only Authors@R is filled out.

This actually breaks our tests since in commit 67b88b47198438b8f4b9e106771216846e23b7ef  *our* Authors field was removed so the reason our test for `p_author` fails is due to *our* package.

I should note that we aren't actually running our tests on travis which i

[2017-07-19 00:38] Dasonk opened #95 "Run tests on travis CI"
Right now the package tests aren't being run on travis.  Let's change that so they are and we fail if the tests fail.

[2017-07-19 00:48] Dasonk commented on #92
Hmm.  I made the changes. It seems remotes is a bit harsher when it can't install.

[code]

We'll either need to do some additional error checking or just continue to use devtools.  I'll keep looking into it but I uncovered some other issues that I created issues for that we might want to investigate before tackling this particular problem.

[2017-07-19 00:53] Dasonk commented on #94
Nevermind... this was only an issue when working on pacman and using load_all (I think).  Using the installed version of pacman things work out fine since the Author field does show up.  I'm closing this for now since it does pass tests in a non-bleeding-edge-development-environment.

[2017-07-19 00:53] #94 closed

[2017-07-19 01:39] Dasonk commented on #92
I just wrapped the call to `remotes::install_github` in a `tryCatch` and that seemed to take care of it. I put the code in a new branch called 'remotes'.  Take a look at the diffs and play around with it.  I want to test it a bit more before merging it into master though.

[2017-07-19 01:44] Dasonk commented on #66
Is this still an issue?

[2017-07-19 03:19] trinker commented on #66
unsure that is long ago...I somehow doubt it

[2017-07-19 12:50] Dasonk commented on #66
Well if you're not sure about it and I certainly have no idea. I'm going to go ahead and close it and if it seems like it's an issue in the future we can either reopen or make a new issue.

[2017-07-19 12:50] #66 closed

[2017-07-19 12:59] Dasonk commented on #8
We've released to CRAN.  I think we can handle the buzz more organically or open a different issue if needed.

[2017-07-19 12:59] #8 closed

[2017-07-19 13:56] Dasonk commented on #95
They are running. I'm just not sure why the last build on master didn't fail when it failed on my machine.  Oh well. This obviously isn't an issue and is just something I'll investigate on my machine.

[2017-07-19 13:56] #95 closed

[2017-07-19 14:49] Dasonk opened #96 "Add topics"
Since the repo is under your username I can't add topics (at least as far as I can tell).  It wouldn't hurt to add some topics like I have in [docstring](https://github.com/Dasonk/docstring) to help people find the repo.

[2017-07-19 17:25] trinker commented on #92
nice and mostly this is to test slack integration

[2017-07-20 01:38] trinker commented on #96
Added some, any others? Delete any? Closing for now.  Re-open if you want changes/additions.

[2017-07-20 01:38] #96 closed

[2017-07-20 15:23] Dasonk commented on #96
Maybe [r-package], [cran], [github]?

[2017-07-20 18:15] trinker commented on #96
done

[2017-07-22 21:15] ChandlerLutz opened #97 "p_unload("all") returns error when no packages are loaded"
Running `pacman::p_unload("all")` returns an error when from `detach` when no packages are loaded. In these cases perhaps the function should return `invisible(NULL)`

[2017-07-23 00:58] Dasonk commented on #97
That's a good call. Thanks for letting us know.

[2017-08-19 13:41] trinker commented on #89
The versions package might be a nice backend for this task: https://github.com/goldingn/versions

[2017-08-31 10:35] phirsch opened #98 "Add functionality to ensure a package is installed without actually loading it."
Sometimes I want to ensure that a package is installed (and have it automatically installed if it is not), but I do not want to actually load it, for example because of name clashes.

Using _pacman_, I can currently only use `p_load()` followed by `p_unload()`, but since loading a package can have lasting side effects, I would prefer a clean single-step way to express and achieve this. A possible

[2017-08-31 12:31] Dasonk commented on #98
Does `p_isinstalled` not meet your needs?

https://github.com/trinker/pacman/blob/master/R/p_isinstalled.R

[2017-08-31 16:53] phirsch commented on #98
My point is that `p_isinstalled()` would not automatically install a package if it is missing.

Much of the convenience and beauty of `p_load()` stems from the fact that it allows to succinctly specify a dependency on a package you want to use (using just one single statement).

What I am looking for is something very similar - I want to state that I intend to use the package in what follows, yet

[2017-08-31 17:00] Dasonk commented on #98
Ah - I see now.  Ok. That isn't something I've found the need for but can see how it could be useful in some situations.  It would be easy enough to add.  I guess the one thing to decide is what name to go with for the function.

`p_ensure` could work but I think maybe something like `p_install_if_not` or p_installifnot` might be more descriptive? Thoughts?

Side note: Looking at this makes me rea

[2017-08-31 17:09] phirsch commented on #98
What about `p_ensure_installed`?

[2017-08-31 17:16] phirsch commented on #98
An alternative would be to add a boolean flag like `skip_if_installed` or `reinstall` or `update` to the `p_install_xx` group of functions.

[2017-09-26 02:54] pgensler opened #99 "Enable/Disable Package Startup messages"
Would it be possible to have a flag in `p_load` to enable/ disable package startup messages? I noticed when using dplyr with p_load, no messages appear. Is this a bug, or is that behavior intentional?

[2017-09-26 12:43] Dasonk commented on #99
I believe it was our intention as we find them noisy. At one point I thought we were going to add in a parameter to give the user more control but apparently never got around to it.

[2017-09-27 14:24] trinker commented on #99
@Dasonk yes I thought there was an arg that made the install more or less verbose.  If not we indeed did discuss that this would be the case and should be implemented.

[2017-09-27 14:26] Dasonk commented on #99
I think we talked about a `silent` parameter at some point. But thinking back I'm not sure if we even included package startup messages in our consideration and that was more or less to control the messages we were going to print about which packages loaded successfully or unsuccessfully.  Either way i think we agree that having better control over the information printed would be a good thing and

[2017-09-27 17:57] pgensler commented on #99
Hi Dasonk, I agree that it might be helpful to have a ```silent``` parameter default as true, and let the user change if necessary. Thanks for the consideration.

[2017-09-28 19:56] yonicd opened #100 "p_unload for namespaces not in searchpath"
is there a good way to unload namespaces in the correct order for a namespace that i attached using `asNamespace`?

using `p_unload` i get this:

[code]

[2017-09-28 19:58] yonicd commented on #100
this came up when i want to list exported functions in all installed packages, but I end up chocking the namespace if `.libPaths()` have too many packages in them

[2017-09-29 12:14] Dasonk commented on #100
Interesting.  `p_unload` is/was mainly for unloading and removing from the search path. As far as I can tell we never thought or cared about namespaces that were loaded but not attached since they don't actually mess up anything to do with the search path.

We could look into adding a parameter to `p_unload` to unload packages that are loaded but not attached.

[2017-09-29 12:57] yonicd commented on #100
btw this is my motivation use case: https://github.com/metrumresearchgroup/sinew/blob/master/R/pretty_namespace.R

[code]

[code]

[2017-09-29 12:59] yonicd commented on #100
if you want you can use the fn i wrote in the end (name is play off of the `nothing` pkg)

https://github.com/metrumresearchgroup/sinew/blob/master/R/something.R

[2017-09-29 16:01] yonicd commented on #100
this is also an issue that pops up in the clean up (the dll's dont unload,this is a pacman issue too)

https://github.com/romainfrancois/nothing/issues/9

[code]

[2017-09-30 00:37] yonicd commented on #100
solved my problem:

[code]

[2017-11-01 19:08] pgensler commented on #67
Yes, I think it would definitely be helpful to have ```p_install``` take multiple inputs so that the functions are a bit more consistent.

[2017-11-01 19:45] Dasonk commented on #67
I'm surprised we haven't made this change yet but one thing I'm noticing is that to make the change we would need to change p_install to take dots as the first parameter.  This would require all of the other parameters to be named and to be spelled out in full (no using 'char' as a shortcut for 'character.only').  This could possibly break some workflows.

@trinker  Any thoughts?

[2017-11-05 20:16] pgensler commented on #67
It would be nice to be able to also have ```p_install``` state when it starts the install, and when it completes, which I think? it's supposed to do? ```devtools::install_cran``` does this, so maybe simply wrapping that could be an option?

[2017-11-27 15:25] #92 closed

[2018-01-04 20:26] f0nzie opened #102 "p_sa() returns error "unable to find an inherited method""
Hello,
I sent couple of queries with `pacman`:
` p_sa("monte carlo", "package")`
and
`p_sa("montecarlo", "package")`
getting this error:
[code]

I verified that `readHTMLTable` is installed.

The same occurs if I use examples from the manual:
`p_sa("hadley", "author")`

Thanks.

[2018-01-13 02:03] trinker commented on #102
@Dasonk  how valuable is this function?  It requires more work to maintain b/c it's doing a web scrape.  I haven't used it in 5 years.

[2018-01-13 02:05] Dasonk commented on #102
I think you wrote it? I've never used it... I think that answers your question haha

[2018-01-13 02:36] trinker commented on #102
How bad would it be for it to just disapear?  Can't really deprecate it either b/c it doesn't work :-)

[2018-02-08 17:59] tungmilan opened #103 "Is it possible to load all packages and display all warnings"
Hello,

I really like the convenient and clean results of `p_load`. However sometimes I want to see the warnings of possible conflicts between packages. Is it possible to display all warnings as well?

Thanks!

[2018-02-08 20:17] Dasonk commented on #103
We can look into it.

[2018-02-09 18:30] tungmilan commented on #103
Thanks @Dasonk ! This would be very helpful when sharing R scripts with others who are probably not aware of all the possible conflicts

[2018-02-13 02:25] trinker commented on #84
@IdoBar no.  Could you do a pull request?

[2018-02-13 03:23] IdoBar commented on #84
@trinker It seems like the issue was with packages that are installed in R's home folder as part of the base installation and it then asks whether you want to install in user folder and **does** uses the path at `libPaths()`, so all good.
I did a pull request though on `p_load()` to make sure that when using the `update=TRUE` flag, only the specified packages will be updated, rather than all the o

[2018-02-14 04:28] trinker commented on #84
@IdoBar Does this address the original ask of this issue...to be able to specify the location of  where packages are saved?

@Dasonk upon rereading this thread would it seems we were approaching this by globally setting the lib rary location.  Should this still be taken as an argument to the functions originally suggested by the OP?

[2018-02-14 04:41] IdoBar commented on #84
@trinker For the purpose of specifying packages location I would suggest the same solution suggested earlier by @Dasonk , i.e. using `.libPaths()`.
I think that the issue can be closed, but this solution should be mentioned in the documentation.
My pull request was actually addressing another issue - the behaviour of the `update=TRUE` flag to behave as expected (at least by me).

[2018-03-14 13:36] sfirke commented on #103
This would be great.  My ideal outcome would be some kind of elegant printed summary that summarizes the warnings, similar to how `library(tidyverse)` yields:
[code]
But if nothing else, an option to just pass the warnings through as-is would be helpful!

[2018-03-14 13:38] sfirke commented on #69
this is covered by the `available` package: https://cran.r-project.org/web/packages/available/index.html

[2018-03-22 08:31] verajosemanuel commented on #98
This would be very useful. Think on a Dockerfile that is build from other Docker image. Every time I add a package that is present on "father" image is installed twice.
Install only if not present and don't load is exactly what I need

[2018-05-01 05:05] BrendanSimon commented on #81
+1

[2018-06-13 11:23] etrh opened #107 ""lib is not writable" error when installing several packages"
When I run `pacman::p_install("Rserve", "som", "ROCR", "KEGGgraph", character.only = T)`, I get the following error:

Interestingly, when I run this command: `pacman::p_install("ROCR", "Rserve", "som", "KEGGgraph", character.only = T)`, the error changes to:

However, the following works without an error:

`pacman::p_install("ROCR")`

This also works:

`utils::install.packages("ROCR")`

[2018-06-18 10:24] Fablepongiste opened #108 "p_load update = TRUE specific packages"
New functionality, not a bug but something that would be useful.
If update = TRUE, and a list of packages is listed in p_load , only these packages should be updated (and eventually relevant dependencies), not all of them !

[2018-07-27 17:52] gadenbuie opened #109 "Feature Request: Use BiocManager instead of biocLite()"
[BiocManager](https://cran.r-project.org/web/packages/BiocManager/) was recently released as a replacement for `biocLite()`.

It seems like it would be fairly straight-forward to use BiocManager instead of `biocLite()` inside the `try_bioc()` function.

https://github.com/trinker/pacman/blob/b876f7b249c7d74119c06eadb2cde2af0f4dd6de/R/p_install.R#L105-L118

As another addition related to #77, `try_

[2018-10-09 20:51] jimhester opened #113 "Submitting devel version to CRAN"
Are there any plans to submit the devel version of pacman to CRAN?

We will be sending a new version of remotes and devtools to CRAN which will cause a failure in the current CRAN release of pacman.

However the devel version of pacman which depends on remotes works with only minor modification https://github.com/trinker/pacman/pull/112

[2018-10-12 18:13] trinker commented on #113
@jimhester We took a look and merged.  My co-auther @Dasonk is going to do some additional testing this weekend.  Our goal is to push to CRAN monday evening or Tuesday morning.  Will that work for you?

[2018-10-12 18:56] jimhester commented on #113
Yes that is fine, thanks! Also we submitted remotes 2.0.0 yesterday and it is on CRAN now.

[2018-10-24 15:13] r-cheologist commented on #109
Shouldn't this be closed?

[2018-10-24 15:36] r-cheologist opened #114 "p_update neglects bioconductor packages"
Currently, `pacman::p_update` is defined like so:

    function (update = TRUE, ask = FALSE, ...)
    {
        p_set_cranrepo()
        out <- unname(utils::old.packages()[, 1])
        if (update) {
            utils::update.packages(ask = ask, ...)
            return(invisible(out))
        }
        out
    }

and accordingly disregards bioconductor packages when updating.

    function (updat

[2018-12-07 01:18] UnixJunkie opened #115 "Can pacman install R packages in a fully automatic way, without any user interaction needed ever?"
Hello,

I have to fully automate installation of R libraries for some script.
It might be the first time R is started (i.e. there was no prior creation/setup of
the user's R libraries directory, etc.).

Can pacman help me?
install.packages doesn't cut it.
It asks several questions to the user.

Also, from which R version is pacman available?

Regards,
F.

[2019-01-22 00:10] IgnatiusPang opened #116 "WGCNA package depends on bioconductor packages, failed."
Dear trinker,

I'm running R version 3.5.2 (2018-12-20) and had the problem installing the 'WGCNA' CRAN package using the pacman 'p_load' function, as it depends on two Bioconductor packages, 'impute' and preprocessCore. I think Bioconductor recently changed the commands it uses to handle packages installation and updates, which could be the source of the problem. For example:

if (!requireNamespa

[2019-03-01 17:50] #103 closed

[2019-03-15 15:22] LogIN- opened #117 "p_load via p_loaded messes up R session"
Hello,
First I want to thank you very much for this amazing package!

I have an issue by running following command, issue happens randomly and I cannot unfortunately give you reproducible example:

`p_load(c(package), install = TRUE, update=FALSE, character.only = TRUE)`

Error that's terminates script:
[code]

Unfortunately as I can see this happens since `p_loaded` is called with default argumen

[2019-04-18 14:23] alapo opened #118 "Installing from GitHub and specifying "type""
Big fan of the package. I was curious if anyone knew how I should install the following package using `pacman`. The `devtools` syntax would be:

`devtools::install_github("benmarwick/wordcountaddin", type = "source", dependencies = TRUE)`

I read through the documentation but was unable to find a way to specify the type when using `p_install_gh`

[2019-05-02 13:17] cucumberry opened #119 "p_load_git/gitlab"
My organisation uses GitLab, it'd be great to have a function like `p_load_gitlab()`, or more broadly `p_load_git()`.

[2019-05-05 08:59] LoHertel commented on #118
Hi @alapo

The argument section of the help page (`?p_install_gh`) mentions:

You can pass on the `type = "source"` parameter from [`pacman::p_install_gh()`](https://github.com/trinker/pacman/blob/master/R/p_install_gh.R#L31) to [`remotes::install_github()`](https://github.com/r-lib/remotes/blob/master/R/install-github.R#L57).

Therefore, the same function call is possible with `p_install_gh` as w

[2019-05-08 11:47] pkR-pkR opened #120 "Oxford"
pacman:::p_set_cranrepo() keeps using (for Windows OS) repository http://www.stats.ox.ac.uk/pub/RWin/bin/windows/contrib/ which has not been updated for R version 3.5 and 3.6. As a result, p_install() raises a warning that
'http://www.stats.ox.ac.uk/pub/RWin/bin/windows/contrib/3.6/PACKAGES' doe not exist. I think you should remove this repository from pacman:::p_set_cranrepo().

[2019-05-11 09:59] r-cheologist opened #121 "Incorrect handling of `force = FALSE` when installing multiple packages using `p_install`"
Consider the following:

1. `Pacman` isn't present:

        [1] FALSE

2. Neither is `dplyr`:

       [1] FALSE

3. Install `pacman`:

       ...
       * installing *source* package ‘pacman’ ...
       * DONE (pacman)

4. Try reinstall using `force = FALSE` - correctly refuses to install ...

       Package is already on your system.

5. **BUT** when including the reinstall in a multiple-package

[2019-05-13 20:32] alapo commented on #118
Thank you for your response @LoHertel  I am attempting to make a reproducible document for other members of my lab.

The issue is that one package (wordcountaddin) relies on `source` where the second (apastats) relies on a `subdirectory` such that if I was to write each line individually it would be

[code]
Curiously this following line using pacman doesnt work due to "incorrect capitalization spe

[2019-05-16 11:51] trinker commented on #121
Thanks for the feedback.  We'll look at this.

[2019-05-20 22:32] LoHertel commented on #118
**Please use `p_load_gh()` instead**

You wrote that you want to circumvent calling `install.packages("PackageName")` and `library(PackageName)` by using `pacman`. In that case, please use `pacman::p_load_gh()` instead.
Because `pacman::p_install_gh()` just installs packages and is not loading them.

[code]

**The difference between `devtools::install_github()`, `pacman::p_install_gh()`,  and `pac

[2019-05-22 11:13] briatte opened #123 "`p_search_any` fails at parsing HTML table"
[code]

[2019-06-18 06:41] kendonB opened #124 "Feature request: suppress warning for trailing comma"
Is there any way to suppress this warning with the trailing comma?
[code]

<sup>Created on 2019-06-18 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2019-08-08 08:50] mmoisse opened #125 "BiocManager missing in fresh install"
I just installed a new version of R without any libraries yet.
When installing my first package from Bioconductor, I got the following error, suggesting me to install BiocManager myself. Could pacman take care of this and install BiocManager if deemed needed?

Tx

[code]

[2019-09-10 19:39] hillar opened #126 "INSTALL_opts=c("--no-docs", "--no-help","--no-html") but still trying to install"
install.packages("pacman") always add's help

$ docker run -ti  alpine-R

R version 3.6.0 (2019-04-26) -- "Planting of a Tree"
Copyright (C) 2019 The R Foundation for Statistical Computing
Platform: x86_64-pc-linux-musl (64-bit)

R is free software and comes with ABSOLUTELY NO WARRANTY.
You are welcome to redistribute it under certain conditions.
Type 'license()' or 'licence()' for distribution de

[2019-09-10 19:45] hillar commented on #126
and so does pacman::p_load_gh("trinker/entity")

[1] "--no-docs" "--no-help" "--no-html"

....
* installing *source* package ‘NLP’ ...
** package ‘NLP’ successfully unpacked and MD5 sums checked
** using staged installation
** R
** inst
** byte-compile and prepare package for lazy loading
** help
*** installing help indices
Error in file.copy(file.path(R.home("doc"), "html", "R.css"), outman) :

[2020-02-07 12:27] NathanSkene commented on #125
This would be really useful

[2020-02-07 12:28] NathanSkene opened #127 "Failing to find bioconductor packages"
When I run

[code]

I'm just getting errors about not being able to find the package.

[code]

[2020-02-07 12:58] trinker commented on #127
I can't reproduce this.  Can you try the following without pacman and see what you get:

[code]

[2020-02-07 15:45] NathanSkene commented on #127
Thanks for responding (and for developing the package!).

[code]

[2020-02-24 09:20] ingram1107 opened #128 "Cannot Install pacman via CRAN"
I cannot install pacman via CRAN interface.
When I run code below:
`install.packages("pacman")`
It shows the following error:
`Error: .onLoad failed in loadNamespace() for 'tcltk', details:
  call: dyn.load(file, DLLpath = DLLpath, ...) `
  `error: unable to load shared object '/usr/lib/R/library/tcltk/libs/tcltk.so':
  libtk8.6.so: cannot open shared object file: No such file or directory
`

[2020-04-24 19:23] mingjie-bio commented on #116
install.packages("BiocManager")
BiocManager::install("WGCNA")

https://www.bioconductor.org/install/#install-bioconductor-packages

[2020-05-12 12:38] seb-mueller commented on #121
Has this issue been resolved? I stopped using pacman a while ago because of this bug but would if give it another go if this is handled correctly now.

[2020-05-24 11:02] tgotwig opened #130 "“there is no package called ‘rgl’” 🐞"
I get the following output when I try to load the package rgl:
[code]

[2020-05-24 11:39] tgotwig commented on #130
After installing `xquartz` on MacOS it worked for me.

[2020-05-29 15:57] JanaJarecki commented on #108
I second this request :)

[2020-05-29 16:04] JanaJarecki opened #131 "p_load_gh( ... , update = TRUE) does not update github packages"
Hi,
great package! The `p_load_gh()` function should maybe update github packages I think this would make more sense from a design perspective (correct me if you disagree?)?

[2020-07-22 10:36] claudiofronterre opened #132 "passing dependecies = T to p_load"
Is there a way to pass `dependencies = T` to the `p_load` function? I would to force the installation of the packages suggested in the package description.

[2020-07-27 10:56] LukasWallrich opened #133 "Strange capitalisation warning when trying to update loaded github package"
When I run pacman::p_load_current_gh("lukaswallrich/rNuggets", dependencies = FALSE) while rNuggets is loaded, I get the following warning message:

[code]

When the package is up-to-date or unloaded, the warning does not appear. This should probably be replaced by a more appropriate warning?

[2020-07-28 11:53] talegari opened #134 "misleading warning for bioconductor packages"
Hi Tyler,

Installing a bioconductor package with `p_install` shows a misleading warning 'package x not available for R (4.0.0)' after successfully installing it. Is there a way to avoid this?

[2020-08-09 15:26] seakintruth commented on #115
p_load attempts to install package if missing, I've been using
[code]

[2020-08-17 19:58] Gootjes commented on #120
Any update on this? It is a really annoying error.

[2020-09-12 21:38] jrdnbradford opened #135 "GPLv2 license"
I see from the DESCRIPTION file and CRAN docs for pacman that it's under the GPLv2 license. Can a license file be added that shows whether this license is a GPLv2+ license that is compatible with any possible future version of the GPL, including the GPLv3?

[2020-11-16 09:20] verajosemanuel commented on #80
Any update on this? I would use it to set my local corporative repo

[2020-11-21 08:24] kkjtmac commented on #134
I also had this problem with p_load in R(4.0.0). With p_load to install one bioconductor package, it showed the warning 'package x not available for R (4.0.0)', but when I used the Biomanger::install, it worked. So how to solve this problem?

[2021-02-02 14:48] KnutJaegersberg opened #136 "pak as package install backend?"
I like the pak package, for parallelized install and downloads. Is it possible to use that as backend for pacman?

[2021-06-15 08:57] holgerbrandl commented on #119
This would be indeed a great addition to `pacman` to support repos living inside of an organization. I'd think that the backend is pretty mature already, see for instance devtools::install_git or https://rdrr.io/cran/remotes/man/install_gitlab.html

[2021-06-25 21:43] tungttnguyen commented on #120
+1 to this request

[2021-06-27 05:31] tungttnguyen commented on #120
Btw, if you can't stand that warning, switch to the [`librarian`](https://github.com/DesiQuintans/librarian) package. Works like charm for me!

[2021-07-07 12:20] burgerga commented on #121
Can confirm, also the documentation is outdated, as it still describes `character.only` being applicable to `...` and not to `package`.

PS I'm looking for a `p_load` alternative that doesn't load the packages (for use in https://github.com/ropensci/targets), and I was expecting `p_install` to be just that, but now I need to use something like:
[code]

[2021-08-23 17:45] Dasonk commented on #119
Thanks for the suggestion.  I'll look into adding that.

[2021-08-23 17:47] Dasonk commented on #119
@oloverm and @holgerbrandl  Do you have any suggestions for how we might best add this type of feature?  I think adding some sort of generic function would be optimal.  Maybe some additional functions that provide functionality for other popular services without having to specify parameters for the service directly would be useful as well.  Any input on which services beyond gitlab would be useful

[2021-10-14 10:00] andschar commented on #133
I have the same issue. Any progress on that? Loading the package works, but the warnings are distracting.

[2022-02-09 13:48] ingram1107 commented on #128
This had been solved by installing `tk` package into my OS.

[2022-02-09 13:48] #128 closed

[2022-04-11 17:43] kwstat opened #138 "backspace characters in message() cause errors for pdf output"
When I have an Rmd document with a chunk like:
[code]
The `p_unload` function inserts a backspace character "\b" into the message.  When the Rmd is converted to pdf, this error is shown:
[code]
Suggested fix: Remove "\b" everywhere in `message()`s.

[2022-04-15 19:26] Dasonk commented on #138
Interesting. I didn't think we had backspaces hardcoded but it appears we do https://github.com/trinker/pacman/blob/ace0936406ca0186a67ee0f5cd52698f663780db/R/p_unload.R#L87

I'll try to look at this over the weekend and see what - if anything - removing the backspaces messes up.

[2022-06-14 00:00] NeetuP14 opened #139 "Pacman packages"
Appreciate feedback and information on why did pacman package installed the following several sub packages when all I prompted was for "rgl"
pacman::p_load(rgl)
Instead of just installing 'rgl', it installed following and if can you share the documentation for description for each of the following packages :
![Package names](https://user-images.githubusercontent.com/107444444/173466220-5b68b098-b2

[2022-06-14 01:11] NeetuP14 opened #140 "file loading issues"
The file is present at the Desktop location as csv file, however it appears very strange why such a simple loading of file is such a problem for R. Thought this was a highly intelligently built and knows where a desktop folder is located.
![image](https://user-images.githubusercontent.com/107444444/173472067-f9d2933f-d2e0-412e-bf36-1b823d60719d.png)

Also when the file was uploaded using the widge

[2022-06-27 01:53] sarnobat commented on #130
I had already installed xquarts. Anyone else found a solution?

[2022-08-28 21:04] jonathan-g commented on #107
I'm having the same problem. I also get errors if I try calling it with a vector of packages such as `p_install(c("foo", "bar"), character.only = TRUE)`

[2022-09-15 15:40] Fredo-XVII commented on #80
I found this function and found it very useful.  I also ran into the export issue, but fixing with :::.  It does not look like it has many dependencies so should be easy to export.  Not so sure how it will impact the other functions that use this once it is export.

Thanks! Great Package!!

[2022-10-19 18:42] joshpersi opened #141 "No code completion with `p_load()` in VS COde"
Hello,

When I load packages with `p_load` in VS Code, I am unable to see code completion suggestions for function names.
![image](https://user-images.githubusercontent.com/38633218/196776240-623ba64a-6932-41ed-b65d-b6e717530122.png)

However, when I load packages with `library()`, I am able to see the suggested functions.
![image](https://user-images.githubusercontent.com/38633218/196776339-2c5f1

[2022-10-27 20:14] lwjohnst86 commented on #139
That's because `rgl` depends on all those packages, which also needed to be installed: https://cran.r-project.org/web/packages/rgl/index.html